@model identity.Models.ProductCategory

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Details</h2>

<div>
    <h4>Danh mục sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
