@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn vì đã xác nhận email. Vui lòng @Html.ActionLink("bấm vào đây để đăng nhập", "Đăng nhập", "Tài khoản", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
